language: php

cache:
  directories:
    - $HOME/.composer/cache/files

matrix:
  include:
    - php: 7.2
    - php: 7.3
    - php: 7.4
    - php: nightly

install:
  - composer self-update
  - composer install --prefer-dist $COMPOSER_FLAGS

before_script:
  - mkdir -p build/logs

script:
  - ./vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml
  - composer cs
  - composer static

after_script:
  - bash <(curl -s https://codecov.io/bash)
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover ./build/logs/clover.xml
