<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuite name="CLI Menu Test Suite">
        <directory>./test</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
    </logging>
</phpunit>