<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true">
    <testsuite name="CLI Menu Test Suite">
        <directory>./tests</directory>
    </testsuite>
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>